<div class="header" id="loginheader">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1>Forgot your password?</h1>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
    	<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    	  <%= devise_error_messages! %>

    	  <div class="field form-group">
    	    <%= f.label :email %><br />
    	    <%= f.email_field :email, autofocus: true, :class => "form-control" %>
    	  </div>

    	  <div class="actions form-group text-center">
    	    <%= f.submit "Send me reset password instructions", :class => "btn btn-success" %>
    	    <%= render "devise/shared/links" %>
    	  </div>
    	<% end %>
    </div>
  </div>
</div>